<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Regist</title>
</head>
<body>
<form action="" method="post" enctype="multipart/form-data">
{# 表单设置 csrf_token#}
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <table>
    <tbody>
     <tr>
        <td>用户名：</td>
        <td><input type="text" name="username"></td>
    </tr>
     <tr>
        <td>密码：</td>
        <td><input type="password" name="password"></td>
    </tr>
     <tr>
        <td></td>
        <td><input type="submit" value="立即登录"></td>
    </tr>
    </tbody>
    </table>
</form>
</body>
</html>